<!DOCTYPE html>
<html>

<head>
   <title>Exercise Tracker | Free Code Camp</title>
   <link rel="shortcut icon"
      href="https://cdn.glitch.com/382415a2-1e3e-4117-9a0c-c9a04e71fd8f%2Ffullsizeoutput_e.jpeg?1553684794327"
      type="image/x-icon" />
   <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" type="text/css">
   <link href="style.css" rel="stylesheet" type="text/css">
</head>

<body>
   <header>
      <h1>Exercise tracker</h1>
   </header>
   <main class="container">
      <form action="/api/exercise/new-user" method="post">
         <h3>Create a New User</h3>
         <p><code>POST /api/exercise/new-user</code></p>
         <label for="uname">Username<abbr title="required, max 30 characters">*</abbr>:</label>
         <input id="uname" type="text" name="username" placeholder="username" maxlength="30" title="max 30 char"
            required>
         <input type="submit" value="Submit">
      </form>
      <form action="/api/exercise/add" method="post">
         <h3>Add exercises</h3>
         <p><code>POST /api/exercise/add</code></p>
         <input id="uid" type="text" name="userId" placeholder="userId*" title="user ID" required>
         <input id="desc" type="text" name="description" maxlength="230" title="description, max 230 char"
            placeholder="description*" required>
         <input id="dur" type="number" name="duration" placeholder="duration* (mins.)" required>
         <input id="dat" type="date" name="date" placeholder="date (yyyy-mm-dd)">
         <input type="submit" value="Submit">
      </form>
      <p><strong>GET users's exercise log:
         </strong><code>GET /api/exercise/log?{userId}[&amp;from][&amp;to][&amp;limit]</code></p>
      <p><strong>{ }</strong> = required, <strong>[ ]</strong> = optional</p>
      <p><strong>from, to</strong> = dates (yyyy-mm-dd); <strong>limit</strong> = number</p>
   </main>
   <footer>
      <p>Made with <a href="https://glitch.com/@TopGITsan">Glitch</a>!</p>
      <p>
         <a href="http://www.freecodecamp.com">freeCodeCamp</a> | <a href="http://www.freecodecamp.com/top">Click here
            to view author's profile</a>
      </p>
   </footer>
</body>

</html>